    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
        position: relative;
    }
    /* ------------------------------------------------- Fonts ------------------------------------------------- */
    
    html {
        font-size: 10px;
        font-family: 'Yantramanav', sans-serif;
    }
    
    h1 {
        margin-top: -10%;
        font-size: 8.8rem;
        color: #FFF;
        font-weight: 700;
        letter-spacing: -4px;
    }
    
    h2 {
        font-size: 4.8rem;
        color: #000;
        font-weight: 700;
        letter-spacing: -4px;
        text-transform: uppercase;
        margin: 0 auto;
    }
    
    h3 {
        font-size: 2.4rem;
        color: #000;
        font-weight: 700;
        line-height: 1.6;
    }
    
    p {
        font-size: 2rem;
        line-height: 1.6;
    }
    
    h2+p {
        width: 660px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .center-text {
        text-align: center;
    }
    
    .dark-color-text {
        color: navy;
    }
    
    .light-color-text {
        color: cyan;
    }
    
    .text-underline {
        position: relative;
        width: max-content;
        margin-bottom: 80px;
    }
    
    .text-underline::after,
    .text-underline::before {
        content: '';
        position: absolute;
        width: 30%;
        height: 1px;
        bottom: -40px;
        border-bottom: 1px dashed navy;
    }
    
    .text-underline::before {
        left: 0;
    }
    
    .text-underline::after {
        right: 0;
    }
    /* ------------------------------------------------- General Spacing ------------------------------------------------- */
    
    .section {
        width: 1200px;
        margin: 0 auto;
    }
    
    .section.top {
        margin-top: 6%;
    }
    /* ------------------------------------------------- Button ------------------------------------------------- */
    
    .button {
        text-transform: uppercase;
        background: cyan;
        color: navy;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 16px 32px;
        width: max-content;
        display: block;
        position: relative;
    }
    
    .button::before {
        content: '';
        width: 30px;
        height: 30px;
        border-top: 2px solid cyan;
        border-left: 2px solid cyan;
        position: absolute;
        top: -5px;
        left: -5px;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    
    .button::after {
        content: '';
        width: 30px;
        height: 30px;
        border-bottom: 2px solid cyan;
        border-right: 2px solid cyan;
        position: absolute;
        bottom: -5px;
        right: -5px;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    
    .button:hover::before,
    .button:hover::after {
        width: 90%;
        height: 90%;
    }
    /* ------------------------------------------------- Main Menu ------------------------------------------------- */
    
    #main-menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: navy;
        padding: 20px 0;
        z-index: 999;
    }
    
    #main-menu div {
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #main-menu .logo {
        max-width: 200px;
        height: 100%;
    }
    
    #main-menu .main-menu {
        display: flex;
        align-items: center;
    }
    
    #main-menu .main-menu li {
        padding: 0 14px;
        font-weight: 600;
        position: relative;
    }
    
    #main-menu .main-menu li a {
        position: relative;
        width: 100%;
        height: 100%;
        color: #FFF;
        text-decoration: none;
        transition: 0.3s ease all;
        font-size: 1.8rem;
    }
    
    #main-menu .main-menu li a:hover {
        color: cyan;
    }
    
    #main-menu .active::after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: cyan;
        border-radius: 10px;
    }
    /* ------------------------------------------------- Dark Mode Switch ------------------------------------------------- */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 14px;
        margin-left: 30px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        width: 100%;
        position: relative;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
        left: 18px;
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    .material-symbols-outlined {
        color: #FFF;
        margin-left: 10px;
    }
    /* ------------------------------------------------- Landing ------------------------------------------------- */
    
    .landing {
        height: 80vh;
        background: navy;
        position: relative;
        display: flex;
        align-items: center;
        /* clip-path: ellipse(85% 55% at 50% 44%); */
        clip-path: polygon(-1px -1px, 100% -1px, 100% 90%, 50% 100%, -1px 90%);
        /* clip-path: polygon(-1px -1px, 100% -1px, 100% 80%, 0 100%); */
    }
    /* .landing::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../assets/landing-swoosh.svg');
        background-position: 50% 18vh;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    } */
    
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
    }
    
    .content img {
        position: relative;
        width: 600px;
        height: auto;
        justify-self: end;
    }
    
    #roles {
        color: rgb(255 255 255 / 0.85);
        font-size: 2.4rem;
        letter-spacing: 3px;
        margin-left: 6px;
        margin-top: 20px;
        display: block;
    }
    
    .landing .button {
        margin-top: 40px;
        margin-left: 6px;
    }
    /* ------------------------------------------------- About ------------------------------------------------- */
    
    #about>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        margin-top: 80px;
    }
    
    #about>div>div {
        border: 1px solid rgb(0 0 0 / 0.1);
        padding: 30px;
        text-align: center;
    }
    /* ------------------------------------------------- Websites ------------------------------------------------- */
    
    #websites>div {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
        margin-top: 80px;
    }
    
    #websites>div>div {
        position: relative;
        flex: 0 0 calc(50% - 15px);
        height: 300px;
        overflow: hidden;
        border-radius: 20px;
    }
    
    #websites>div>div:last-child {
        flex: 0 0 100%;
    }
    
    #websites>div>div img {
        width: 100%;
        object-fit: fill;
        z-index: -1;
    }
    
    #websites>div>div span {
        display: block;
        position: absolute;
        bottom: 0;
        width: max-content;
        padding: 10px 40px;
        background: navy;
        color: #FFF;
        font-size: 2rem;
        font-weight: 600;
    }
    
    #websites>div>div:nth-child(even) span {
        right: 0;
        border-radius: 10px 0 0 0;
    }
    
    #websites>div>div:nth-child(odd) span {
        left: 0;
        border-radius: 0 10px 0 0;
    }
    
    #websites>div>div>div {
        opacity: 0%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        background: navy;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10%;
        transition: 0.3s ease all;
    }
    
    #websites>div>div>div:hover {
        opacity: 1;
    }
    
    #websites>div>div>div a {
        display: block;
    }
    
    .circle-graphic {
        position: absolute;
        z-index: 99;
        background: #FFF;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .circle-graphic:first-child {
        top: calc(300px - 35px);
    }
    
    .circle-graphic:nth-child(2) {
        top: calc(600px - 10px);
    }
    /* ------------------------------------------------- Dark Mode Styling ------------------------------------------------- */
    
    .day {
        transition: 1s ease all;
    }
    
    .night {
        background: black !important;
    }